{extend name="index/index" /}
{block name="header"}
<link href="<?= $css ?>/bootstrap.min.css" rel="stylesheet"/>
<script src="<?= $js?>/pagination.js"></script>

{/block}
{block name="main"}
        <nav class="navcates">
            当前位置：<i class="fa fa-home"></i><a href="https://www.talklee.com/">首页</a><i class="fa fa-angle-right"></i><a
                href="https://www.talklee.com/info/" title="查看 互联网 中的全部文章">互联网</a><i class="fa fa-angle-right"></i><a
                href="https://www.talklee.com/blog/365.html" rel="bookmark" target="_blank"
                title="正在阅读 Google回归中国对SEO们意味着什么？">Google回归中国对SEO们意味着什么？</a></nav>
        <div class="site-main content-left">
            <div class="widget-box post-single">
                <article id="post-20574" class="widget-content single-post">
                    <header id="post-header">
                        <div class="post-meta">
                            <span class="time">2018年08月24日</span>
                            <span class="eye"><i class="fa fa-eye"></i>193</span>
                            <span class="comm"><a href="https://www.talklee.com/blog/365.html#comments"><i
                                    class="fa fa-comment-o"></i>12</a></span>
                            <span class="r-hide"><a title="侧边栏"><i class="fa fa-caret-left"></i><i
                                    class="fa fa-caret-right"></i></a></span>
                        </div>
                        <div id="font-change" class="left">
                            <span id="font-dec"><a href="#" title="减小字体">-</a></span>
                            <span id="font-n"><a href="#" title="默认大小">N</a></span>
                            <span id="font-inc"><a href="#" title="增大字体">+</a></span>
                        </div>
                        <h2 class="post-title"><a href="https://www.talklee.com/blog/365.html"
                                                  title="正在阅读：Google回归中国对SEO们意味着什么？" rel="bookmark">Google回归中国对SEO们意味着什么？</a>
                        </h2>
                        <div class="clear"></div>
                    </header>
                    <div class="entry-ad">
                        <!-- 广告位：文章内页横幅 -->
                        <script>
                            (function () {
                                var s = "_" + Math.random().toString(36).slice(2);
                                document.write('<div id="' + s + '"></div>');
                                (window.slotbydup = window.slotbydup || []).push({
                                    id: '4966516',
                                    container: s,
                                    size: '760,90',
                                    display: 'inlay-fix'
                                });
                            })();
                        </script>
                        <!-- 广告位：wz830*99
                        <script>
                        (function() {
                            var s = "_" + Math.random().toString(36).slice(2);
                            document.write('<div id="' + s + '"></div>');
                            (window.slotbydup=window.slotbydup || []).push({
                                id: '5539037',
                                container: s,
                                size: '830,99',
                                display: 'inlay-fix'
                            });
                        })();
                        </script>-->  </div>
                    <div class="entry">
                        <p style="text-indent: 2em;">最新互联网相关行业最大的<a target="_blank"
                                                                    href="https://www.talklee.com/tags-21.html"
                                                                    style="color:#0086e3">新闻</a>莫过于Google回归中国的传言。</p>
                        <p style="text-indent: 2em;">
                            时间过得真快，Google退出中国已经近8年了，抗战都快打完了。8年来，时不时有Google即将回归的传言，但也只是传言。IT行业经常有Google和<a
                                target="_blank" href="https://www.talklee.com/tags-1.html" style="color:#0086e3">百度</a>搜索结果质量哪个好的讨论，最后往往成为吐槽百度的讨论。SEO行业也经常有人怀念Google，觉得有Google才有SEO的春天。
                        </p>
                        <h3>Google回归中国传闻</h3>
                        <p style="text-indent: 0em; text-align: center;"><a
                                href="https://www.talklee.com/zb_users/upload/2018/08/201808241535094697141738.jpg"
                                title="Google回归中国.jpg" alt="Google回归中国.jpg" rel="box" class="fancybox"/><img
                                src="picture/201808241535094697141738.jpg" title="Google回归中国.jpg" alt="Google回归中国.jpg"//></a>
                        </p>
                        <p style="text-indent: 2em;">2018年8月1号，The
                            Intercept报道，据有关文件披露，Google计划在中国发布审查版的搜索引擎，通过这种折衷方式回归中国市场。这个项目代码是“DragonFly”，有的人翻译为“飞龙”或“龙飞“，DragonFly直译是“蜻蜓”，可能有点一语双关的意思。</p>
                        <p style="text-indent: 2em;">项目2017年春天就开始了，2017年12月Google CEO
                            Pichai与中国某高层官员会面后进展加快了。一个Andriod版本的APP已经开发出来了，并展示给政府人员看过，如果被批准的话，可望在6-9个月内推出正式版本。APP的几个版本名称包括“Maotai“（茅台？）、”Longfei”（龙飞？）。</p>
                        <p style="text-indent: 2em;">主要国际媒体也都做了报道。</p>
                        <p style="text-indent: 2em;">通常这种传闻，传一阵就过去了。这次有点不同。</p>
                        <p style="text-indent: 2em;">8月6号，人民日报Twitter官方账号发表推文表示：</p>
                        <blockquote><p style="text-indent: 0em;">
                            欢迎Google重返中国大陆，但必须遵守中国法律。所有在中国的外国互联网公司，都应尊重中国的互联网管理。</p></blockquote>
                        <p></p>
                        <p style="text-indent: 0em; text-align: center;"><a
                                href="https://www.talklee.com/zb_users/upload/2018/08/201808241535094247606867.jpg"
                                title="人民日报Twitter官方账号发表推文.jpg" alt="人民日报Twitter官方账号发表推文.jpg" rel="box"
                                class="fancybox"/><img src="picture/201808241535094247606867.jpg"
                                                       title="人民日报Twitter官方账号发表推文.jpg"
                                                       alt="人民日报Twitter官方账号发表推文.jpg"//></a></p>
                        <p style="text-indent: 2em;">推文里还有一个短链接，指向人民日报的Facebook官方账号上一篇更为深入的讨论文章。</p>
                        <p style="text-indent: 2em;">两大不能访问的网站官方账号，讨论另一个不能访问的服务即将可以访问了，这是不是有点幽默？</p>
                        <p style="text-indent: 2em;">然后李彦宏在朋友圈发表了评论，表示如果Google回归中国，百度有信心再PK一次，再赢一次：</p>
                        <p style="text-indent: 0em; text-align: center;"><a
                                href="https://www.talklee.com/zb_users/upload/2018/08/201808241535094262122448.jpg"
                                title="李彦宏在朋友圈评论.jpg" alt="李彦宏在朋友圈评论.jpg" rel="box" class="fancybox"/><img
                                src="picture/201808241535094262122448.jpg" title="李彦宏在朋友圈评论.jpg"
                                alt="李彦宏在朋友圈评论.jpg"//></a></p>
                        <p></p>
                        <p style="text-indent: 2em;">作为竞争对手和受益者，李彦宏通常不方便评论这种传闻，这次不知道是不是得到了什么内部消息。</p>
                        <p style="text-indent: 2em;">不知道为什么，中国的很多本来很正常的事，总是要弄得扑朔迷离。这不，人民日报的推文已经删除了。这有什么好删除的呢？</p>
                        <h3 style="text-indent: 0em;">Google回归中国后能战胜百度吗？</h3>
                        <p style="text-indent: 2em;">
                            李彦宏虽然很有信心，但很多网民并不这么认为。一方面，近年来百度的一些负面新闻杀伤力巨大，如魏则西事件。另一方面，百度搜索结果质量也是被大量吐槽，甚至取笑的对象。</p>
                        <p style="text-indent: 2em;">我自己两个搜索引擎都常用，所以还算有资格说一下作为普通用户对搜索质量的感受。就我的使用<a target="_blank"
                                                                                                   href="https://www.talklee.com/tags-19.html"
                                                                                                   style="color:#0086e3">经验</a>，显然Google搜索结果质量要好过百度。无论页面索引时效性，页面收录广度、深度，查询结果相关性、权威度，抗垃圾、作弊能力等等，Google全面超越百度。
                        </p>
                        <p style="text-indent: 2em;">
                            与email、社交媒体等服务相比，搜索是用户迁移成本比较低的，换个搜索引擎用，基本上不会对网上生活造成多大影响。那么有个质量更好的替代品，用户是不是就会毫不犹豫地转用Google呢？恐怕没这么直接简单粗暴。Google搜索质量的全面超越并不是碾压式的，之间的差距没有大到让用户对百度忍无可忍的地步。或者说，百度是凑合能用的，其质量是至少在及格线以上的，很多普通用户已经养成使用习惯，并没有那么大的换搜索引擎的动力。</p>
                        <p style="text-indent: 2em;">
                            也许很多IT用户觉得在百度搜索不到有价值的文献，Google就好用得多。但也别忘了，8年下来，很多普通用户都不知道Google是个啥了。这么多年来，对很多人来说，Google是不存在的。要想让一个本不存在的服务代替大家耳熟能详的百度，关键不在相差没那么大的搜索质量，关键在品牌。</p>
                        <p style="text-indent: 2em;">
                            对用户来说，百度能不能再赢一次不是什么大事。但对整个搜索市场来说，甚至对百度来说，Google能回归的话，都是好事。在任何市场，一家垄断，没有有力竞争者，结果往往是双输，垄断者失去斗志和创新力，用户没有选择，服务或产品无法提升。</p>
                        <h3 style="text-indent: 0em;">Google回归中国是国内SEO的利好吗？</h3>
                        <p style="text-indent: 2em;">假设Google真能回归，然后至少得到可观的市场份额，对中国SEO行业是个利好消息吗？</p>
                        <p style="text-indent: 2em;">
                            在微信、朋友圈看到不少SEO盼望着Google回归，原因之一就是觉得Google回来了，SEO会好做一点。我倒觉得正相反，对大部分SEO来说，Google回归了，甚至超越百度了，恐怕SEO会更难做了。</p>
                        <p class="putong">
                            首先，SEO们头疼的问题之一是搜索结果首页中留给自然结果的比例越来越小，这方面，Google并不比百度情况乐观。Google倒是不像百度那样有那么多自己的内容，自己霸屏自己，但除了Adwords，Google
                            Maps/Local、Google Shopping Ads、第0位结果等占的屏幕面积也不遑多让啊：</p>
                        <p></p>
                        <p class="putong">
                            其次，大家诟病的百度的一些毛病，相关性、原创保护、快速排名等等，其实正是大部分国内SEO喜闻乐见和积极利用的。如果Google占据了中国搜索市场，意味着快排、转载抄袭、垃圾链接、伪原创、站群等等手法将不再像现在这么有效，只有老老实实做高质量内容的SEO才能生存，说实话，那首先将造成一大批SEO公司倒闭，而不是发展壮大。</p>
                        <p style="text-indent: 2em;">当然，做英文网站SEO的、踏实做内容的，Google回归中国肯定是好事。</p>
                        <p class="lanse">Google搜索其实没那么重要</p>
                        <p style="text-indent: 2em;">前面说了，百度是能凑合用的，Google搜索回归不回归没那么重要。</p>
                        <p style="text-indent: 2em;">
                            重要的是Google的全套服务。为了让我女儿好好学科学，前些天我还向她灌输，Google是个伟大的公司，它改变了世界，改变了很多人的生活：</p>
                        <blockquote><p style="text-indent: 0em;">早在Yahoo等提供6M的email服务，需要更多空间就要收费时，
                            gmail上来就免费给1GB，这对行业的改变是颠覆性的</p>
                            <p style="text-indent: 0em;">在用户需要每台电脑买Word等<a target="_blank"
                                                                           href="https://www.talklee.com/tags-13.html"
                                                                           style="color:#0086e3">软件</a>时，Google
                                Docs上来就免费了，而且多设备同步，多用户共同编辑，方便得一塌糊涂</p>
                            <p style="text-indent: 0em;">没有Google Maps的年代，怎么开车？怎么自驾游？想想以前的司机那是相当不容易啊</p>
                            <p style="text-indent: 0em;">我家没有定有线电视，电视连墙上天线都没接，Youtube满足一切要求，实时高清直播</p></blockquote>
                        <p style="text-indent: 2em;">还有其它不是天天用的就不说了。</p>
                        <p style="text-indent: 2em;">
                            每次回国，能不能用gmail是个必须先考虑并确认的问题，买了翻墙服务也未必就能用。有时候我想，外国人要到中国外派、公干、出差、旅游，那是得克服多少困难啊，常用的网站服务基本上都用不了。</p>
                        <p style="text-indent: 2em;">
                            相比之下，Google搜索真没那么重要。真正重要的是包含全套服务的Google品牌，也只有其它服务全面回归中国，Google搜索才有可能超越百度。我想，这个难度比仅仅Google搜索回归就大多了。</p>
                        <p class="lanse">文章转载：<a href="https://www.seozac.com/seo-news/google-return/" target="_blank">SEO每天一帖</a>
                        </p>
                        <div class="article-join">
                            <p>有好的文章希望<strong>李洋博客</strong>帮助分享和推广，猛戳这里<a href="/tougao/">我要投稿</a></p>
                        </div>
                    </div>
                    <div class="ds-reward-stl">
                        <button id="dsRewardBtn" onclick="PaymentUtils.show();"><i class="fa fa-usd"></i>赏</button>
                        <script type="text/javascript" src="js/award.js"></script>
                    </div>
                    <div class="entry-meta">
                        <p class="post-tag">标签：<a href="https://www.talklee.com/tags-3.html" rel="tag"
                                                  title="查看标签为《投稿》的所有文章">投稿</a><a
                                href="https://www.talklee.com/tags-21.html" rel="tag" title="查看标签为《新闻》的所有文章">新闻</a><a
                                href="https://www.talklee.com/tags-20.html" rel="tag" title="查看标签为《自媒体》的所有文章">自媒体</a><a
                                href="https://www.talklee.com/tags-1.html" rel="tag" title="查看标签为《百度》的所有文章">百度</a><a
                                href="https://www.talklee.com/tags-47.html" rel="tag" title="查看标签为《正经事》的所有文章">正经事</a><a
                                href="https://www.talklee.com/tags-9.html" rel="tag" title="查看标签为《站长》的所有文章">站长</a><a
                                href="https://www.talklee.com/tags-8.html" rel="tag" title="查看标签为《SEO优化》的所有文章">SEO优化</a>
                        </p>
                    </div>
                    <div id="authorarea">
                        <div class="authorinfo">
                            <div class="author-avater">
                                <img class="avaterimg" alt="作者：非李莫属" title="作者：非李莫属" src="picture/1.png" height="50"
                                     width="50">
                            </div>
                            <div class="author-des">
                                <div class="author-meta">
                                    <span class="post-author-name"><a href="https://www.talklee.com/author-1.html"
                                                                      title="由非李莫属发布" rel="author">非李莫属</a></span>
                                    <span class="post-author-tatus"><a href="https://www.talklee.com/author-1.html"
                                                                       target="_blank">343篇文章</a></span>
                                    <span class="post-author-url"><a href="https://www.talklee.com/" rel="nofollow"
                                                                     target="_blank">站点</a></span>
                                    <span class="post-author-weibo"><a href="http://weibo.com/523912300/" rel="nofollow"
                                                                       target="_blank">微博</a></span></div>
                                <script type="text/javascript" src="js/5ac49cb4f3384fa88c2b335b472ab48d.js"></script>
                                <div id="hitokoto">
                                    <script>hitokoto()</script>
                                </div>
                            </div>
                        </div>
                        <div class="bdshare">
                            <div class="bdsharebuttonbox"><a href="#" class="bds_qzone" data-cmd="qzone"
                                                             title="分享到QQ空间"></a><a href="#" class="bds_tsina"
                                                                                    data-cmd="tsina"
                                                                                    title="分享到新浪微博"></a><a href="#"
                                                                                                           class="bds_tqq"
                                                                                                           data-cmd="tqq"
                                                                                                           title="分享到腾讯微博"></a><a
                                    href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#"
                                                                                                        class="bds_weixin"
                                                                                                        data-cmd="weixin"
                                                                                                        title="分享到微信"></a><a
                                    href="#" class="bds_more" data-cmd="more"></a></div>
                            <script>window._bd_share_config = {
                                "common": {
                                    "bdSnsKey": {},
                                    "bdText": "",
                                    "bdMini": "2",
                                    "bdMiniList": false,
                                    "bdPic": "",
                                    "bdStyle": "1",
                                    "bdSize": "24"
                                }, "share": {}
                            };
                            with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'https://www.talklee.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                        </div>
                    </div>
                    <div class="post-navigation">
                        <a href="https://www.talklee.com/info/" class="backtolist">返回列表</a>
                        <div class="post-previous"><span>上一篇：</span><a href="https://www.talklee.com/blog/364.html"
                                                                       rel="prev">Z-Blog首款微商企业类型主题模板--微商互联（Wslee）</a>
                        </div>
                    </div>
                    <div class="nav-links"><!--全局上下篇-->
                        <div class="nav-previous"><a href="https://www.talklee.com/blog/364.html" rel="prev"><span
                                class="meta-nav-r"><i class="fa fa-angle-left"></i></span></a></div>
                    </div>
                    <div id="related-posts" class="related-posts">
                        <h3><span class="h3line">相关文章</span>
                            <div class="post-tags-key">
      <span class="post-keyword">
        关键词：<a href="https://www.talklee.com/tags-3.html" target="_blank" rel="tag">投稿</a><a
              href="https://www.talklee.com/tags-21.html" target="_blank" rel="tag">新闻</a><a
              href="https://www.talklee.com/tags-20.html" target="_blank" rel="tag">自媒体</a><a
              href="https://www.talklee.com/tags-1.html" target="_blank" rel="tag">百度</a><a
              href="https://www.talklee.com/tags-47.html" target="_blank" rel="tag">正经事</a><a
              href="https://www.talklee.com/tags-9.html" target="_blank" rel="tag">站长</a><a
              href="https://www.talklee.com/tags-8.html" target="_blank" rel="tag">SEO优化</a>      </span>
                            </div>
                        </h3>
                        <ul class="widget-content">
                            <li class="related-item post-thumbnail">
                                <a href="https://www.talklee.com/blog/362.html" title="详细阅读 zblogphp怎么设置二级导航菜单(图文教程)"
                                   rel="bookmark"><img src="picture/201807131531445090295618.jpg"
                                                       alt="zblogphp怎么设置二级导航菜单(图文教程)" width="330" height="200"><span>zblogphp怎么设置二级导航菜单(图文教程)</span></a>
                            </li>
                            <li class="related-item post-thumbnail">
                                <a href="https://www.talklee.com/blog/361.html" title="详细阅读 负载均衡和CDN技术有什么区别"
                                   rel="bookmark"><img src="picture/201806291530261215908089.jpg" alt="负载均衡和CDN技术有什么区别"
                                                       width="330" height="200"><span>负载均衡和CDN技术有什么区别</span></a>
                            </li>
                            <li class="related-item post-thumbnail">
                                <a href="https://www.talklee.com/blog/358.html" title="详细阅读 玉林荔枝狗肉节：是美味还是罪恶？"
                                   rel="bookmark"><img src="picture/201806211529545895919185.jpg" alt="玉林荔枝狗肉节：是美味还是罪恶？"
                                                       width="330" height="200"><span>玉林荔枝狗肉节：是美味还是罪恶？</span></a>
                            </li>
                            <li class="related-item post-thumbnail">
                                <a href="https://www.talklee.com/blog/357.html" title="详细阅读 百度SEO和谷歌SEO的区别是什么"
                                   rel="bookmark"><img src="picture/201806081528430835382377.jpg"
                                                       alt="百度SEO和谷歌SEO的区别是什么" width="330" height="200"><span>百度SEO和谷歌SEO的区别是什么</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="single-ad wow fadeInDown" data-wow-delay="0.1s">
                        <!-- 广告位：840-90 -->
                        <script>
                            (function () {
                                var s = "_" + Math.random().toString(36).slice(2);
                                document.write('<div id="' + s + '"></div>');
                                (window.slotbydup = window.slotbydup || []).push({
                                    id: '5061853',
                                    container: s,
                                    size: '840,90',
                                    display: 'inlay-fix'
                                });
                            })();
                        </script>
                    </div>
                    <section id="comments">
                        <!--评论框-->
                        <div id="comt-respond" class="commentpost wow fadeInDown" id="comment">
                            <h4><i class="fa fa-pencil"></i>发表评论<span><a rel="nofollow" id="cancel-reply"
                                                                         href="#comment" style="display:none;"><small>取消回复</small></a></span><span
                                    class="jubao"><a rel="nofollow" href="http://www.12377.cn/" target="_blank"><small><i
                                    class="fa fa-exclamation-triangle"></i>中国互联网举报中心</small></a></span></h4>
                            <form id="frmSumbit" target="_self" method="post"
                                  action="https://www.talklee.com/zb_system/cmd.php?act=cmt&amp;postid=365&amp;key=5bbeeeef52364a7c72fb5c82cc5ac982">
                                <input type="hidden" name="inpId" id="inpId" value="365"/>
                                <input type="hidden" name="inpRevID" id="inpRevID" value="0"/>
                                <div class="comt-box">
                                    <div class="form-group liuyan form-name"><input type="text" id="inpName"
                                                                                    class="text" value="" name="inpName"
                                                                                    tabindex="1" placeholder="名称（必填）">
                                    </div>
                                    <div class="form-group liuyan form-email"><input type="text" id="inpEmail"
                                                                                     class="text" name="inpEmail"
                                                                                     tabindex="2" placeholder="邮箱">
                                    </div>
                                    <div class="form-group liuyan form-www"><input type="text" id="inpHomePage"
                                                                                   name="inpHomePage"
                                                                                   onfocus="this.value='http://';"
                                                                                   class="text" tabindex="3"
                                                                                   placeholder="网址"></div>
                                </div>
                                <!--verify-->
                                <div id="comment-tools">
                                    <span class="com-title">快捷回复：</span>
                                    <a title="粗体字"
                                       onmousedown="InsertText(objActive,ReplaceText(objActive,'[B]','[/B]'),true);"><i
                                            class="fa fa-bold"></i></a>
                                    <a title="斜体字"
                                       onmousedown="InsertText(objActive,ReplaceText(objActive,'[I]','[/I]'),true);"><i
                                            class="fa fa-italic"></i></a>
                                    <a title="下划线"
                                       onmousedown="InsertText(objActive,ReplaceText(objActive,'[U]','[/U]'),true);"><i
                                            class="fa fa-underline"></i></a>
                                    <a title="删除线"
                                       onmousedown="InsertText(objActive,ReplaceText(objActive,'[S]','[/S]'),true);"><i
                                            class="fa fa-strikethrough"></i></a>
                                    <a href="javascript:addNumber('文章不错,写的很好！')" title="文章不错,写的很好！"><i
                                            class="fa fa-thumbs-o-up"></i></a>
                                    <a href="javascript:addNumber('这。。看不懂怎么破？')" title="这。。看不懂怎么破？"><i
                                            class="fa fa-thumbs-o-down"></i></a>
                                    <a href="javascript:addNumber('赞、狂赞、超赞、不得不赞、史上最赞！')" title="赞、狂赞、超赞、不得不赞、史上最赞！"><i
                                            class="fa fa-heart"></i></a>
                                </div>
                                <textarea placeholder="请遵守相关法律与法规，文明评论。O(∩_∩)O~~" name="txaArticle" id="txaArticle"
                                          class="text input-block-level comt-area" cols="50" rows="4" tabindex="5"
                                          onkeydown="if(event.ctrlKey&amp;&amp;event.keyCode==13){document.getElementById('submit').click();return false};"></textarea>
                                <p><input name="sumbit" type="submit" tabindex="6" value="提交"
                                          onclick="return zbp.comment.post()" class="button"/></p>
                            </form>
                        </div><!--评论框结束-->
                        <!--评论输出-->
                        <ol class="commentlist">
                            <div class="comment-tab">
                                <div class="come-comt">
                                    <i class="fa fa-comments"></i>评论列表 <span id="comment_count">（已有<span
                                        style="color:#E1171B">12</span>条评论，共<span
                                        style="color:#E1171B">193</span>人参与）</span><span class="iliuyan"><a
                                        href="https://www.talklee.com/blog/365.html#comment"><i class="fa fa-bell"></i>参与讨论</a></span>
                                </div>
                            </div>
                            <label id="AjaxCommentBegin"></label>
                            <div class="shadow-box msg noimg wow fadeInDown" id="cmt2008">
                                <div class="msgimg">
                                    <img class="avatar" src="picture/0.png" alt="网友昵称：ACG资源" title="网友昵称：ACG资源"/>
                                </div>
                                <div class="msgtxt">
                                    <div class="msgname">
                                        <a href="https://www.talklee.com/zb_system/cmd.php?act=ajax&hk_url=aHR0cHM6Ly93d3cuaG91ZmxpLmNvbQ=="
                                           rel="nofollow" target="_blank">ACG资源</a><span
                                            class="LevelName aulevel6">游客</span><span>2天前<a href="#reply"
                                                                                            onclick="RevertComment('2008')"
                                                                                            class="comment-reply-link">回复</a></span>
                                        <span class="WB-OS">
      <img src="picture/chrome.png" title="Google Chrome 67.0.3396.62" alt="" width="auto" height="auto">
      <img src="picture/win-6.png" title="Windows 10 x64" alt="" width="auto" height="auto">
    </span>
                                    </div>
                                    <div class="msgarticle">
                                        哈哈哈，不错哦！<label id="AjaxComment2008"></label>
                                        <div class="shadow-box msg noimg wow fadeInDown" id="cmt2010">
                                            <div class="msgimg">
                                                <img class="avatar" src="picture/1.png" alt="网友昵称：非李莫属"
                                                     title="网友昵称：非李莫属"/>
                                            </div>
                                            <div class="msgtxt">
                                                <div class="msgname">
                                                    <a href="https://www.talklee.com/" rel="nofollow" target="_blank">非李莫属</a><span
                                                        class="LevelName aulevel1">管理员</span><span>9小时前<a href="#reply"
                                                                                                          onclick="RevertComment('2010')"
                                                                                                          class="comment-reply-link">回复</a></span>
                                                    <span class="WB-OS">
      <img src="picture/sogou.png" title="Sogou Explorer" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                                </div>
                                                <div class="msgarticle">
                                                    <a class="comment_at" href="#comment-2008">@ACG资源</a> 谢谢支持<label
                                                        id="AjaxComment2010"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow-box msg noimg wow fadeInDown" id="cmt2003">
                                <div class="msgimg">
                                    <img class="avatar" src="picture/0.png" alt="网友昵称：ACG资源" title="网友昵称：ACG资源"/>
                                </div>
                                <div class="msgtxt">
                                    <div class="msgname">
                                        <a href="https://www.talklee.com/zb_system/cmd.php?act=ajax&hk_url=aHR0cHM6Ly93d3cuaG91ZmxpLmNvbQ=="
                                           rel="nofollow" target="_blank">ACG资源</a><span
                                            class="LevelName aulevel6">游客</span><span>3天前<a href="#reply"
                                                                                            onclick="RevertComment('2003')"
                                                                                            class="comment-reply-link">回复</a></span>
                                        <span class="WB-OS">
      <img src="picture/chrome.png" title="Google Chrome 67.0.3396.62" alt="" width="auto" height="auto">
      <img src="picture/win-6.png" title="Windows 10 x64" alt="" width="auto" height="auto">
    </span>
                                    </div>
                                    <div class="msgarticle">
                                        挺不错的哈，博客主题有分享？<label id="AjaxComment2003"></label>
                                        <div class="shadow-box msg noimg wow fadeInDown" id="cmt2007">
                                            <div class="msgimg">
                                                <img class="avatar" src="picture/1.png" alt="网友昵称：非李莫属"
                                                     title="网友昵称：非李莫属"/>
                                            </div>
                                            <div class="msgtxt">
                                                <div class="msgname">
                                                    <a href="https://www.talklee.com/" rel="nofollow" target="_blank">非李莫属</a><span
                                                        class="LevelName aulevel1">管理员</span><span>2天前<a href="#reply"
                                                                                                         onclick="RevertComment('2007')"
                                                                                                         class="comment-reply-link">回复</a></span>
                                                    <span class="WB-OS">
      <img src="picture/sogou.png" title="Sogou Explorer" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                                </div>
                                                <div class="msgarticle">
                                                    <a class="comment_at" href="#comment-2003">@ACG资源</a> 谢谢支持，有的<label
                                                        id="AjaxComment2007"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow-box msg noimg wow fadeInDown" id="cmt1999">
                                <div class="msgimg">
                                    <img class="avatar" src="picture/0.png" alt="网友昵称：老薛主机永久七折码"
                                         title="网友昵称：老薛主机永久七折码"/>
                                </div>
                                <div class="msgtxt">
                                    <div class="msgname">
                                        <a href="https://www.talklee.com/zb_system/cmd.php?act=ajax&hk_url=aHR0cHM6Ly93d3cuYmFuZ3Rhb2xpLmNvbS8="
                                           rel="nofollow" target="_blank">老薛主机永久七折码</a><span class="LevelName aulevel6">游客</span><span>6天前<a
                                            href="#reply" onclick="RevertComment('1999')"
                                            class="comment-reply-link">回复</a></span>
                                        <span class="WB-OS">
      <img src="picture/theworld.png" title="TheWorld Browser" alt="" width="auto" height="auto">
      <img src="picture/win-6.png" title="Windows 10 x64" alt="" width="auto" height="auto">
    </span>
                                    </div>
                                    <div class="msgarticle">
                                        希望谷歌回归，但不知道淡出国人视线已久的他，还有几个人去用<label id="AjaxComment1999"></label>
                                        <div class="shadow-box msg noimg wow fadeInDown" id="cmt2000">
                                            <div class="msgimg">
                                                <img class="avatar" src="picture/1.png" alt="网友昵称：非李莫属"
                                                     title="网友昵称：非李莫属"/>
                                            </div>
                                            <div class="msgtxt">
                                                <div class="msgname">
                                                    <a href="https://www.talklee.com/" rel="nofollow" target="_blank">非李莫属</a><span
                                                        class="LevelName aulevel1">管理员</span><span>5天前<a href="#reply"
                                                                                                         onclick="RevertComment('2000')"
                                                                                                         class="comment-reply-link">回复</a></span>
                                                    <span class="WB-OS">
      <img src="picture/sogou.png" title="Sogou Explorer" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                                </div>
                                                <div class="msgarticle">
                                                    <a class="comment_at" href="#comment-1999">@老薛主机永久七折码</a>
                                                    还是期望回归的。<label id="AjaxComment2000"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow-box msg noimg wow fadeInDown" id="cmt1987">
                                <div class="msgimg">
                                    <img class="avatar" src="picture/0.png" alt="网友昵称：靠" title="网友昵称：靠"/>
                                </div>
                                <div class="msgtxt">
                                    <div class="msgname">
                                        <a href="https://www.talklee.com/zb_system/cmd.php?act=ajax&hk_url="
                                           rel="nofollow" target="_blank">靠</a><span
                                            class="LevelName aulevel6">游客</span><span>1周前 (08-27)<a href="#reply"
                                                                                                    onclick="RevertComment('1987')"
                                                                                                    class="comment-reply-link">回复</a></span>
                                        <span class="WB-OS">
      <img src="picture/qqbrowser.png" title="MQQBrowser 7.6.0" alt="" width="auto" height="auto">
      <img src="picture/iphone.png" title="Apple iPhone" alt="" width="auto" height="auto">
    </span>
                                    </div>
                                    <div class="msgarticle">
                                        谷歌还能搜索到百度搜索不到的大秀<label id="AjaxComment1987"></label>
                                        <div class="shadow-box msg noimg wow fadeInDown" id="cmt1992">
                                            <div class="msgimg">
                                                <img class="avatar" src="picture/1.png" alt="网友昵称：非李莫属"
                                                     title="网友昵称：非李莫属"/>
                                            </div>
                                            <div class="msgtxt">
                                                <div class="msgname">
                                                    <a href="https://www.talklee.com/" rel="nofollow" target="_blank">非李莫属</a><span
                                                        class="LevelName aulevel1">管理员</span><span>1周前 (08-28)<a
                                                        href="#reply" onclick="RevertComment('1992')"
                                                        class="comment-reply-link">回复</a></span>
                                                    <span class="WB-OS">
      <img src="picture/sogou.png" title="Sogou Explorer" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                                </div>
                                                <div class="msgarticle">
                                                    <a class="comment_at" href="#comment-1987">@靠</a> 这。。看不懂怎么破？<label
                                                        id="AjaxComment1992"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow-box msg noimg wow fadeInDown" id="cmt1986">
                                <div class="msgimg">
                                    <img class="avatar" src="picture/0.png" alt="网友昵称：66" title="网友昵称：66"/>
                                </div>
                                <div class="msgtxt">
                                    <div class="msgname">
                                        <a href="https://www.talklee.com/zb_system/cmd.php?act=ajax&hk_url="
                                           rel="nofollow" target="_blank">66</a><span
                                            class="LevelName aulevel6">游客</span><span>1周前 (08-27)<a href="#reply"
                                                                                                    onclick="RevertComment('1986')"
                                                                                                    class="comment-reply-link">回复</a></span>
                                        <span class="WB-OS">
      <img src="picture/qqbrowser.png" title="MQQBrowser 7.6.0" alt="" width="auto" height="auto">
      <img src="picture/iphone.png" title="Apple iPhone" alt="" width="auto" height="auto">
    </span>
                                    </div>
                                    <div class="msgarticle">
                                        谷歌还能搜索到百度搜索不到的大秀<label id="AjaxComment1986"></label>
                                        <div class="shadow-box msg noimg wow fadeInDown" id="cmt1991">
                                            <div class="msgimg">
                                                <img class="avatar" src="picture/1.png" alt="网友昵称：非李莫属"
                                                     title="网友昵称：非李莫属"/>
                                            </div>
                                            <div class="msgtxt">
                                                <div class="msgname">
                                                    <a href="https://www.talklee.com/" rel="nofollow" target="_blank">非李莫属</a><span
                                                        class="LevelName aulevel1">管理员</span><span>1周前 (08-28)<a
                                                        href="#reply" onclick="RevertComment('1991')"
                                                        class="comment-reply-link">回复</a></span>
                                                    <span class="WB-OS">
      <img src="picture/sogou.png" title="Sogou Explorer" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                                </div>
                                                <div class="msgarticle">
                                                    <a class="comment_at" href="#comment-1986">@66</a> 老司机~<label
                                                        id="AjaxComment1991"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shadow-box msg noimg wow fadeInDown" id="cmt1972">
                                <div class="msgimg">
                                    <img class="avatar" src="picture/0.png" alt="网友昵称：画册印刷" title="网友昵称：画册印刷"/>
                                </div>
                                <div class="msgtxt">
                                    <div class="msgname">
                                        <a href="https://www.talklee.com/zb_system/cmd.php?act=ajax&hk_url=aHR0cDovL3d3dy5jb29uc29vbi5jb20="
                                           rel="nofollow" target="_blank">画册印刷</a><span
                                            class="LevelName aulevel6">游客</span><span>2周前 (08-25)<a href="#reply"
                                                                                                    onclick="RevertComment('1972')"
                                                                                                    class="comment-reply-link">回复</a></span>
                                        <span class="WB-OS">
      <img src="picture/bidubrowser.png" title="Baidu Browser 8.7" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                    </div>
                                    <div class="msgarticle">
                                        李宏彦的那段话感觉怪怪的，好像他真的赢了GOOGLE一样，可能在中国吧，总之，欢迎GOOGLE回归，而且希望能快点，，，，<label
                                            id="AjaxComment1972"></label>
                                        <div class="shadow-box msg noimg wow fadeInDown" id="cmt1980">
                                            <div class="msgimg">
                                                <img class="avatar" src="picture/1.png" alt="网友昵称：非李莫属"
                                                     title="网友昵称：非李莫属"/>
                                            </div>
                                            <div class="msgtxt">
                                                <div class="msgname">
                                                    <a href="https://www.talklee.com/" rel="nofollow" target="_blank">非李莫属</a><span
                                                        class="LevelName aulevel1">管理员</span><span>1周前 (08-27)<a
                                                        href="#reply" onclick="RevertComment('1980')"
                                                        class="comment-reply-link">回复</a></span>
                                                    <span class="WB-OS">
      <img src="picture/sogou.png" title="Sogou Explorer" alt="" width="auto" height="auto">
      <img src="picture/win-4.png" title="Windows 7 x64" alt="" width="auto" height="auto">
    </span>
                                                </div>
                                                <div class="msgarticle">
                                                    <a class="comment_at" href="#comment-1972">@画册印刷</a>
                                                    是啊，百度哪来那么大的信心？<label id="AjaxComment1980"></label></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--评论输出结束-->
                            <!--评论翻页条输出-->
                            <div id="comments-nav" class="com-page wow fadeInDown">
                                <div class="com-page-list">
                                </div>
                            </div>
                            <label id="AjaxCommentEnd"></label>
                            <!--评论翻页条输出结束-->
                        </ol>
                    </section>
                </article>
            </div>
        </div>
{/block}
{block name="footer-link"}
{/block}
{block name="main-footer"}
{/block}
{block name="footer"}
<script src="<?= $js?>/detail/details.js"></script>
{/block}-42.09 ms , 31 query , 2628kb memory , 0 error-->