{extend name="index/index" /}
<!--###############################################################################################################-->
<!--################################################# 单独 ########################################################-->
<!--###############################################################################################################-->
{block name="header"}
<script src="<?= $js?>/pagination.js"></script>
{/block}
{block name="main"}
<div class="page-content">
    <div class="page-header">
        <h1>
            blog List
            <small>
                <i class="icon-double-angle-right"></i>
                with selectable items(single &amp; multiple) and custom icons
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <div class="alert alert-info">
                <i class="icon-hand-right"></i>

                Please note that demo server is not configured to save the changes, therefore you may get an error
                message.
                <button class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>

            </div>
            <div class='col-xs-12'>
                <div class="form-group">
                    <label>文章分类：</label>
                    <select name="" id="category" @change="mchange()">
                        <option value="">Chose</option>
                        <option v-if="menuItem.name !='首页' " v-for="(menuItem,key) in menuList"
                                :value="menuItem['id']">
                            {{menuItem.name}}
                        </option>
                    </select>
                    <select id="categorychild" v-show="child.length>0" @change="mchange()">
                        <option value="">Chose</option>
                        <option v-for="childItem in child" :value="childItem['id']">{{childItem.name}}</option>
                    </select>
                </div>
                <div class="col-xs-2 input-group-s" style=" padding-left: 0;">

                </div>
            </div>

            <div class="table-responsive">
                <table id="sample-table-2" class="table table-bordered text-center solidTab ">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>摘要</th>
                        <th>图片</th>
                        <th class="hidden-480">分类</th>
                        <th>
                            <i class="icon-time bigger-110 hidden-480"></i>
                            发布时间
                        </th>
                        <th class="hidden-480">推荐</th>

                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr style='' v-for="blogItem in blogList">
                        <td>
                            <a href="#">{{blogItem.title}}</a>
                        </td>
                        <td>{{blogItem.summary}}</td>
                        <td><img :src="blogItem.pic"
                                 style="height:40px;"></td>
                        <td class="hidden-480">{{blogItem.category_id}}</td>
                        <td>{{blogItem.create_time}}</td>

                        <td class="hidden-480">
                            <span class="label label-sm label-warning">{{blogItem.recommend}}</span>
                        </td>

                        <td>
                            <div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
                                <a class="blue" href="#">
                                    <i class="icon-zoom-in bigger-130"></i>
                                </a>

                                <a class="green" href="#">
                                    <i class="icon-pencil bigger-130"></i>
                                </a>

                                <a class="red" href="#">
                                    <i class="icon-trash bigger-130"></i>
                                </a>
                            </div>

                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="inline position-relative">
                                    <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-caret-down icon-only bigger-120"></i>
                                    </button>

                                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                                <span class="blue">
                                                    <i class="icon-zoom-in bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                                <span class="green">
                                                    <i class="icon-edit bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                <span class="red">
                                                    <i class="icon-trash bigger-120"></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div class="box-footer clearfix">
                    <navigation :pages="pages" :current.sync="pageNo" @navpage="pageList"></navigation>
                </div>
            </div>

        </div>
    </div>
</div>
{/block}
{block name="footer"}
<script src="<?= $js?>/admin/blog.js"></script>

{/block}